{% extends 'base.html' %}



{% block content %}

<header>
    <a class="logo" href="{{ url_for('admin.index') }}">Dashbord</a>
    <a class="button" href="{{ url_for('blog.index') }}">Blog</a>
    <a class="button" href="{{ url_for('admin.new_post') }}">New Post</a>
    <a class="button" href="{{ url_for('admin.new_category') }}">New Category</a>
    <a class="button" href="{{ url_for('admin.list_posts') }}">List Posts</a>
    <a class="button" href="{{ url_for('admin.list_users') }}">List Users</a>
    <a class="button" href="{{ url_for('admin.list_categories') }}">List categories</a>
    <a class="button" href="{{ url_for('admin.log_out') }}">Logout</a>
</header>

{% with messages = get_flashed_messages(True) %}
    {% if messages %}
        <div class="row">
            
            {% for message in messages %}
                <span class="toast">{{ message[1] }}</span>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

{% block page_content %}
{% endblock %}
{% endblock %}