<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/index.css') }}">
    <title>Admin Login</title>
</head>
<body>
    <div class="countiner">
        <form action=" {{ url_for('admin.login') }} " method="POST">
            <H1>Login To Admin Page</H1>
            <!-- <input type="email"  class="login_form" placeholder="Email"> <br>
            <input type="password"  class="login_form" placeholder="Password"> <br>
            <input type="button" value="Login"> -->
            {{ login_form.hidden_tag() }} <br>
            {{ login_form.email }} <br>
            {{ login_form.password }} <br>
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>