{% extends 'base.html' %}

{% block head %}
    <!-- <link rel="stylesheet" href="{{ url_for('static',filename='styles/index.css') }}"> -->
    <title>Admin Login</title>
{% endblock %}

{% block content %}
    <div class="countiner">
        <form action=" {{ url_for('admin.login') }} " method="POST">
            
            <H1>Login To Admin Page</H1>

            {% with messages = get_flashed_messages(True) %}
            {% if messages %}
                <div class="row">
                    
                    {% for message in messages %}
                        <span class="toast">{{ message[1] }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        

            <!-- <input type="email"  class="login_form" placeholder="Email"> <br>
            <input type="password"  class="login_form" placeholder="Password"> <br>
            <input type="button" value="Login"> -->
            {{ login_form.hidden_tag() }} <br>
            {{ login_form.email }} <br>
            {{ login_form.password }} <br>
            <input type="submit" value="Login">
        </form>
    </div>
{% endblock %}