{% extends 'blog/base.html' %}

{% block head %}
<title>{{ category_name }} Category</title>
{% endblock %}

{% block page_content %}
<div>
    <h2>{{ category_name }}</h2>
    {% for post in posts %}
    <div style="border: 1px solid black;width: 90%;margin: auto;">
    <h2 style="border-bottom: 1px solid black;"> <a href="{{ url_for('blog.single_post',slug=post.slug) }}"> {{ post.title }} </a></h2> <br>
    
    <p> {{ post.summary or post.content | truncate(64,true,'...') }} </p> <br>
    </div><br>
    {% endfor %}
</div>
{% endblock %}